html {
    background-color: bisque;
}

.border > div {
    border:2px solid skyblue;
    border-radius: 12px;
}

.localUser {
    width: 400px;
    aspect-ratio: 16/9;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    position: relative;
    
}

.remoteUser {
    width: 400px;
    margin:20px;
    aspect-ratio: 16/9;
    position: relative;
}

.row {
    display: flex;
}
.controls {
    justify-content: space-evenly;
    order:1;
    padding: 5px;
    margin-top:5px;
    border:none 
}

.remoteUsers {
    border-top: 1px dotted gray;
    justify-content: center;
    flex-wrap: wrap;
}
.hidden {
    display: none;
}
.icon {
    cursor: pointer;
    width: 22px !important;
}
.icon:hover{
   color:rgb(172, 159, 15);
    transition: all ease-in-out 200ms;
}

.toast-close {
    color: #1b1b1b !important
}

.userInfo {
    position: absolute;
    bottom: 5px;
    left: 10px;
    z-index: 3;
    color: white;
    background: gray;
    padding: 2px;
    border-radius: 6px;
}